@import "../../../scss/commonStyle.scss";

.noteBlock {
  @include flex(column, center, flex-start, nowrap);
  gap: 5px;
  background-color: $tags-block-color;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  box-shadow: $box-shadow;
}

.note {
  padding: 10px;
  border-radius: 10px;
  @include flex(column, flex-start, center, nowrap);
  gap: 10px;
  font-size: large;
  box-shadow: $box-shadow;
  background-color: $app-color;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.noteText {
  word-wrap: break-word;
  width: 100%;
}

.deleteButton,
.editButton {
  border: none;
  background-color: $box-shadow-color;
  padding: 7px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
  transition: $transition;
  width: 95px;
  &:hover {
    color: white;
    background-color: $active-tag-color;
  }
}

.buttonBlock {
  @include flex(row, center, center, nowrap);
  column-gap: 5px;
}

.editInput {
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  width: 100%;
  resize: none;
  height: 100px;
}

.specialWord {
  display: inline-block;
  color: white;
  background-color: $active-tag-color;
  border-radius: 10px;
  padding: 1px 5px;
  margin-inline: 3px;
}

.validateBlock {
  text-align: center;
}
