@import '../../scss/commonStyle.scss';

.textArea {
    resize: none;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    font-size: medium;
    box-shadow: $box-shadow;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    @include flex(column, center, center, nowrap);
    row-gap: 15px;

}

.addNote {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    background-color: aliceblue;
    transition: $transition;
    cursor: pointer;
    &:hover {
        background-color: rgb(163, 170, 175);
        color: aliceblue;
    }
    box-shadow: $box-shadow;
}

.validateText {
    font-size: larger;
}