$transition: 0.3s all;
$box-shadow-color: rgba(30, 67, 96, 0.2);
$box-shadow: 0px 4px 6px 4px $box-shadow-color;
////////////////////
$app-color: rgb(213, 223, 233);
$tags-block-color: rgb(136, 161, 161); 
$tag-color: rgb(213, 223, 233);
$tag-color-hover: rgb(93, 111, 129);
$active-tag-color: rgb(46, 56, 66);

@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin font($font-style, $font-weight, $font-size, $line-height, $letter-spacing, $text-transform) {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}