@import '../../../../../scss/commonStyle.scss';

.tag {
    box-shadow: $box-shadow;
    padding: 5px;
    border-radius: 15px;
    @include flex(row, center, center, nowrap);
    column-gap: 5px;
    font-size: large;
}

.tag_active {
    background-color: $active-tag-color;
    color: white;
    box-shadow: $box-shadow;
    .deleteButton {
        background-color: white;
        color: black
    }
}

.tag_notActive {
    background-color: $tag-color;
}

.deleteButton {
    border: none;
    background-color: $box-shadow-color;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: larger;
    transform: rotate(45deg);
    cursor: pointer;
    transition: $transition;
    &:hover {
        transform: scale(0.9);
    }
}

